---
import "../styles/global.css";
// Component Imports
import GuestLayout from "@/layouts/GuestLayout.astro";
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button";
import { FileText, ArrowRight } from "lucide-react";
import { Badge } from "@/components/ui/badge";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { getProjectsFormatted } from "./api/project.ts";
import { GetintouchForm } from "@/components/GetintouchForm";

const projects = await getProjectsFormatted();

const techStack = [
  {
    name: "JavaScript",
    icon: "/icons/Javascript.png",
    url: "https://www.javascript.com/",
  },
  {
    name: "TypeScript",
    icon: "/icons/Typescript.png",
    url: "https://www.typescriptlang.org/",
  },
  { name: "Node.js", icon: "/icons/NodeJS.svg", url: "https://nodejs.org/en" },
  { name: "Vue.js", icon: "/icons/VueJS.svg", url: "https://vuejs.org/" },
  { name: "Nuxt.js", icon: "/icons/NuxtJS.svg", url: "https://nuxt.com/" },
  { name: "React", icon: "/icons/ReactJS.svg", url: "https://react.dev/" },
  { name: "Next.js", icon: "/icons/NextJS.svg", url: "https://nextjs.org/" },
  {
    name: "Angular",
    icon: "/icons/AngularJS.svg",
    url: "https://angularjs.org/",
  },
  {
    name: "Tailwind CSS",
    icon: "/icons/TailwindCSS.svg",
    url: "https://tailwindcss.com/",
  },
  {
    name: "Bootstrap",
    icon: "/icons/Bootstrap.svg",
    url: "https://getbootstrap.com/",
  },
  { name: "Sass", icon: "/icons/Sass.svg", url: "https://sass-lang.com/" },
  { name: "PHP", icon: "/icons/PHP.svg", url: "https://www.php.net/" },
  { name: "Laravel", icon: "/icons/Laravel.svg", url: "https://laravel.com/" },
  { name: "Python", icon: "/icons/Python.svg", url: "https://www.python.org/" },
  {
    name: "Flask",
    icon: "/icons/Flask.svg",
    url: "https://flask.palletsprojects.com/",
  },
  {
    name: "Django",
    icon: "/icons/Django.svg",
    url: "https://www.djangoproject.com/",
  },
  { name: "MySQL", icon: "/icons/MySQL.svg", url: "https://www.mysql.com/" },
  {
    name: "Firebase",
    icon: "/icons/Firebase.svg",
    url: "https://firebase.google.com/",
  },
  { name: "Kotlin", icon: "/icons/Kotlin.svg", url: "https://kotlinlang.org/" },
  { name: "Git", icon: "/icons/Git.svg", url: "https://git-scm.com/" },
  {
    name: "NVM",
    icon: "/icons/Nvm.svg",
    url: "https://www.nvmnode.com/guide/download.html",
  },
  { name: "Docker", icon: "/icons/Docker.svg", url: "https://www.docker.com/" },
  { name: "Linux", icon: "/icons/Linux.svg", url: "https://www.linux.org/" },
  { name: "Debian", icon: "/icons/Debian.svg", url: "https://www.debian.org/" },
  { name: "Figma", icon: "/icons/Figma.svg", url: "https://www.figma.com/" },
];

const connectLinks = [
  {
    label: "Email",
    url: "mailto:austria.andrecarl@gmail.com",
    name: "austria.andrecarl@gmail.com"
  },
  {
    label: "Facebook",
    url: "https://www.facebook.com/andre.austria.353794",
    name: "Andre.Austria"
  },
  {
    label: "Instagram",
    url: "https://www.instagram.com/knetic_404/",
    name: "Andre"
  },
  {
    label: "Github",
    url: "https://github.com/copycache",
    name: "Copycache"
  },
  {
    label: "LinkedIn",
    url: "https://www.linkedin.com/in/andreaustria/",
    name: "Andre Carl Austria"
  },
]
---

<GuestLayout content={{ title: "Home | Andre Austria" }}>
  <div>
    <section class="grid place-items-center h-screen content-center">
      <div class="p-5 text-center">
        <p class="text-lg md:text-xl lg:text-2xl font-semibold opacity-75">
          Hello, I am
        </p>
        <p
          class="text-5xl md:text-6xl lg:text-7xl font-bold uppercase text-black dark:text-white"
        >
          Andre Austria
        </p>
        <p class="text-sm md:text-base lg:text-lg opacity-75">
          Junior IT Developer / Full Stack Developer
        </p>
      </div>

      <div class="flex flex-wrap gap-4 justify-center mt-5">
        <Button><FileText className="size-4" />Download CV</Button>
        <a href="#getInTouch"
          ><Button variant="outline"
            >Get in Touch<ArrowRight className="size-4" /></Button
          ></a
        >
      </div>
    </section>

    <div class="mx-auto max-w-5xl p-5 space-y-24">
      <p class="text-black sm:text-lg dark:text-white">
        Junior Full Stack Web Developer specializing in <span
          class="font-semibold"
        >
          TypeScript and JavaScript
        </span> with hands-on experience in <span class="font-semibold">
          React.js, Next.js, Vue.js/Nuxt.js, and Node.js
        </span>. Passionate about building <span class="font-semibold">
          responsive, user-friendly interfaces using Tailwind CSS, Bootstrap,
          shadcn/ui, and Radix UI
        </span>, and developing <span class="font-semibold">
          robust back-end solutions
        </span> with <span class="font-semibold">
          MySQL, Firebase, and Supabase
        </span>. Driven to create <span class="font-semibold">
          scalable, high-performance web applications
        </span> that deliver seamless user experiences.
      </p>

      <div class="space-y-4">
        <p class="font-semibold text-black dark:text-white text-xl">
          Tech Stack
        </p>
        <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 gap-4 mt-5">
          {
            techStack.map((tech) => (
              <a href={tech.url} target="_blank" class="group">
                <div
                  class="flex flex-col items-center justify-center gap-2
                            aspect-square rounded-xl
                            bg-neutral-100 dark:bg-neutral-900
                            border border-neutral-200 dark:border-neutral-800
                            transition-all duration-200
                            hover:scale-105 hover:shadow-md"
                >
                  <Image
                    src={tech.icon}
                    alt={tech.name}
                    width="40"
                    height="40"
                    class="object-contain"
                  />

                  <p
                    class="text-xs sm:text-sm font-medium
                              text-neutral-700 dark:text-neutral-300"
                  >
                    {tech.name}
                  </p>
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <!-- Projects Section -->
    <div class="mx-auto max-w-5xl p-5">
      <div class="flex justify-between">
        <p class="font-semibold text-black dark:text-white text-xl mb-6">
          Projects
        </p>
        <a href="./projects"
          ><Button variant="link">View All Projects</Button></a
        >
      </div>

      <div class="grid gap-8">
        {
          projects.map((project) => (
            <Card className="rounded-xl shadow-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300">
              <div class="flex flex-col md:flex-row">
                <CardContent className="p-0 md:w-1/2 relative group">
                  <img
                    src={project.image}
                    alt={project.title}
                    class="w-full h-full object-cover rounded-md"
                  />
                  <a
                    href=""
                    target="_blank"
                    class="absolute inset-0 rounded-md opacity-0 group-hover:opacity-75 transition-opacity duration-300 flex items-center justify-center
         bg-black bg-opacity-40"
                  >
                    <span class="text-white font-medium text-sm">
                      Live Preview
                    </span>
                  </a>
                </CardContent>

                <div class="flex flex-col justify-between md:w-2/3 p-6 gap-3">
                  <CardHeader className="p-0">
                    <CardTitle className="text-lg md:text-xl font-bold">
                      {project.title}
                    </CardTitle>
                    <p class="text-sm text-neutral-500 dark:text-neutral-400">
                      {project.date}
                    </p>
                  </CardHeader>

                  <CardDescription className="text-sm text-neutral-600 dark:text-neutral-400">
                    {project.description}
                  </CardDescription>

                  <div class="flex flex-wrap gap-2 mt-2">
                    {project.tech.map((tech) => (
                      <Badge variant="outline">{tech}</Badge>
                    ))}
                  </div>

                  <CardFooter className="p-0 mt-4">
                    <Button variant="outline">Explore More</Button>
                  </CardFooter>
                </div>
              </div>
            </Card>
          ))
        }
      </div>
    </div>

    <!-- Projects Section -->
    <div
      id="getInTouch"
      class="mx-auto max-w-5xl p-5 my-24 flex flex-col md:flex-row gap-12 items-start"
    >
      {/* Left side: Contact Info */}
      <div class="md:w-1/2 space-y-6">
        <p class="font-semibold --muted dark:--muted-foreground text-xl mb-6">
          Get in Touch
        </p>
        <p class="text-neutral-600 dark:text-neutral-400 text-sm sm:text-base">
          Have a project idea, question, or just want to say hi? Fill out the
          form and I’ll get back to you as soon as possible. I’m always open to
          collaborating and connecting!
        </p>

        <p class="font-semibold --muted dark:--muted-foreground text-xl mb-6">
          Let's Connect
        </p>
        <p class="text-neutral-600 dark:text-neutral-400 text-sm sm:text-base">
          Reach out to me via email or on social media.
        </p>

        <div class="space-y-4">
          <div class="grid grid-cols-4 md:grid-cols-1 lg:grid-cols-4 gap-2 items-center">
            {
              connectLinks.map((link) => (
                <span class="text-neutral-700 dark:text-neutral-300 font-semibold">{link.label}</span>
                <a
                  href={link.url}
                  class="underline text-neutral-700 dark:text-neutral-300 hover:text-blue-500 transition-colors col-span-3"
                  target="_blank"
                >
                  {link.name}
                </a>
              ))
            }
          </div>
        </div>
      </div>

      {/* Right side: Contact Form */}
      <GetintouchForm client:load />
    </div>
  </div>
</GuestLayout>
